{%  extends "layout.html" %}

{% block title %}
    New Competition
{%  endblock %}

{% block main %}
    <h1 class="mb-3">Create a new competition</h1>
    <form action="/newcomp" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" type="text" name="name" placeholder="Competition Name (Required)" autocomplete="off" autofocus>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" type="text" name="scramble" placeholder="Scramble (Leave blank for random)" autocomplete="off">
        </div>
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="puzzle">
                <option value="3">3x3</option>
                <option value="2">2x2</option>
                <option value="4">4x4</option>
                <option value="5">5x5</option>
            </select>
        </div>
        <button class="btn btn-primary mb-3" type="submit">Create</button>
    </form>
{% endblock %}