{%  extends "layout.html" %}

{% block title %}
    Register
{%  endblock %}

{% block main %}
    <div class="login-box">
        <h2 class="mb-3">Register</h2>
        <form action="/register" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="confirm" placeholder="Confirm Password" type="password">
            </div>
            <button class="btn btn-primary mb-3" type="submit">Register</button>
        </form>
        <footer style="color:white;">Already have an account? Log in <a href="/register">here</a></footer>
    </div>
{% endblock %}